@use "@styles/main";

.h5p-jigsaw-puzzle-title-bar {
  align-items: center;
  background-color: white;
  background-size: cover;
  box-shadow: main.$box-shadow-normal;
  display: flex;
  justify-content: flex-end;
  margin-bottom: main.$margin-base;
  overflow: hidden;
  padding: main.$margin-50;

  .h5p-jigsaw-puzzle-button-fullscreen {
    flex-grow: 0
  }

  &.display-none {
    display: none;
  }
}
